*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("images/HomePhoto.jpg");
    background-size: cover;
    padding: 2em;
    background-attachment: fixed;
}

#root{    
    padding: 3em 1.5em;
    text-align: center;
    color: black;
    width: 65vw;
    margin: 5em auto;
    opacity: .83;
    background-color: rgb(167, 187, 207);
    min-height: 300px;
}

#root h1{
    padding: 1.5em;
}

#root p{
    font-size: 19px;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
}

nav ul{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    list-style: none;
}

.navbutton{
    padding: 1em;
    align-content: center;
}

.navbutton:hover{
    background-color: rgb(167, 187, 207);
    color: black;
}

.stellar_img, .mission_img{
    width: 35%;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: .65em;
}